html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#main-layer {
	position: relative;
	margin: auto;
	top: 20px;
	width: 60%;
}

#map-canvas {
	height: 25%;
	width: 25%;
}

.trip-start-date {
}

label {
	float: left;
}

.link-name,.link-name-header {
	width: 250px;
	position: relative;
	display: table-cell;
}

.add-button {
	text-decoration: underline;
	background-color: #546679;
	border: 1px;
	border-style: solid;
	width: 100%;
}
.ok-button {
	background-image: url('../images/icon_checked.png');
}
.icon {
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	padding: 0;
    text-align: left;
    text-indent: -999em;
}
.cancel-button {
	background-image: url('../images/close.png');
}
.field-value {
	display: inline-block;
}
.edit-button {
	float:right;
	display:none;
	background-image: url('../images/edit_20.png');
}
.trip-control {
	display:inline-block;
}