<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    					http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:component-scan base-package="ua.home.trip.controller" />
	<context:component-scan base-package="ua.home.trip.service" />
	<context:component-scan base-package="ua.home.trip.repository" />
	
	<bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="dateFormat">
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg index="0">
					<value>dd-MM-yyyy</value>
				</constructor-arg>
			</bean>
		</property>
	</bean>
	
	<!-- Setting alwaysUseFullPath for Spring handler mapping and adapter to recognize URL by 
		 prefix pattern (e.g. /somepath/*) -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="alwaysUseFullPath" value="true" />
		<property name="messageConverters">
            <array>
                <bean id="mappingJacksonHttpMessageConverter"
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"
                    p:objectMapper-ref="jacksonObjectMapper" p:supportedMediaTypes="application/json" />
            </array>
        </property>
	</bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
	</bean>

    <!-- InternalResourceViewResolver should have the last order index among all view resolvers -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

</beans>